






/* animacja dla karty/kafelka produktu 


#foo {
  width: 200px;
  height: 200px;
  background: #444;
  animation: corner 3s;
  border-radius: 50%;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;
}
$s: 100% / 3;
$t: 0.001%;

@keyframes corner {
  #{$s * 0} {
    border-bottom-radius: 0%;
  }
  #{$s * 1} {
    border-top-left-radius: 1% 50%;
    border-bottom-right-radius: 1% 50%;
  }
  #{$s * 2} {
    border-top-left-radius: 1% 50%;
    border-bottom-right-radius: 1% 50%;
    border-top-right-radius: 1% 50%;
    border-bottom-left-radius: 1% 50%;
  }
  #{$s * 3} {
    border-top-right-radius: 1% 50%;
  }
}

*/